.ft{
    width: 160px;
    border:2.5px solid black;
    border-radius: 48%;
}

body{background-size: cover ;
    background-color:rgba(202, 176, 89, 0.623);
    background-image: url(/photo/papelfundo.png);
    background-repeat: no-repeat;
}
