.ft{width: 160px;
    border:2.5px solid black;
    border-radius: 48%;
}

body{background-color:rgba(202, 176, 89, 0.623);
border: 0px solid black;}

.nome{background-color: rgb(255, 255, 255);
    border: 2.5px solid black;
    border-radius: 15%;

}  